@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
.scores {
	background-color: black;
	background-image: url(../../../assets/images/bg\ image\ 5.jpg);
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	height: 100%;
	font-family: "Montserrat";
}

.scores::after {
	content: "";
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: -10;
	background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%);
}

@media (min-width: 992px) {
	.scores {
		height: 100vh;
	}

	.vcenter {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
